p {
  font-size: 20px;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("https://img.resized.co/siliconrepublic/eyJkYXRhIjoie1widXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5zaWxpY29ucmVwdWJsaWMuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDIyXFxcLzA2XFxcL1dlYi0zLTQ0NHgzMzMuanBlZ1wiLFwid2lkdGhcIjo0NDQsXCJoZWlnaHRcIjozMzMsXCJkZWZhdWx0XCI6XCJodHRwczpcXFwvXFxcL3d3dy5zaWxpY29ucmVwdWJsaWMuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE0XFxcLzEyXFxcLzIwMTMwMlxcXC9wdXp6bGUuanBnXCIsXCJvcHRpb25zXCI6e1wib3V0cHV0XCI6XCJ3ZWJwXCJ9fSIsImhhc2giOiI0MjUxMWJkNWFkODBmNzY5MDRjZWQ4NmViYjNjN2I4OGI3NWJkMzJlIn0=/web-3-444x333.jpeg");
  min-height: 400px;
}

.pimg2 {
  background-image: url("https://cdn.pixabay.com/photo/2023/11/22/05/17/ai-generated-8404740_960_720.png");
  min-height: 400px;
}

.pimg3 {
  background-image: url("https://img.freepik.com/free-photo/anime-character-celebrating-christmas_23-2150970447.jpg?semt=ais_hybrid");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}
.section-dark {
  background-color: #395168;
  color: #cff0f0;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #b18787e0;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #746666;
  color: #000000;
  padding: 20px;
  opacity: 0.8;
}
@media (max-width: 568px) {
  .pimg .pimg2 .pimg3 {
    background-attachment: scroll;
  }
}
